body{
    background-color: rgb(140, 170, 238);
    text-align: left;
    color: #292c3c;
}

h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
}

a{
color: #292c3c;
    text-decoration:underline;
}

p{
    font-size: 2rem;
}

h3{
    font-size: 2.5rem;
    font-weight: bold;
}

.footer{
     font-size: 2.75rem;
    text-align: left;
    margin: 0.125rem;
    padding: 0.25rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    text-decoration: none;
    text-shadow: 0.25rem 0.25rem 0.2rem #8caaee;
    border-radius: 0.5rem;
    transition: rotate 2s;
}
.unnamed{
    font-size: 2.75rem;
    text-align: right;
    margin: 0.125rem;
    padding: 0.25rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    text-shadow: 0.25rem 0.25rem 0.2rem #8caaee;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: rotate 2s;
}

.cau {
    display: flex;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 139, 139, 0.3); /* Semi-transparent darkcyan */
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    box-shadow: 00 10px 6px rgba(0, 0, 0, 0.1);
}

.unnamed:hover{
    rotate: 20deg;
}
.footer:hover{
    rotate: -20deg;

}

h4{
    font-size: 2.5rem;
}

.credit{
    white-space: wrap;
    font-size: 2.5rem;
    display:ruby;
}

.credit-name {

    font-size: 2.5rem;
    font-weight: bold;
    transition: transform 60s,color 0.5s;
}

.credit-text {
    font-size: 2.5rem;
    font-weight: bold;
}


.credit-name:hover{
        animation: rgb 1s 2 0.5s;

}

@keyframes rgb {
    0%{color: red;}
    20%{color: orange;}
    40%{color:yellow;}
    60%{color: green;}
    80%{color:blue}
    100%{color: purple;}
    
}