body{
     background-color: rgb(140, 170, 238); 
    /* background: linear-gradient(lightblue,DodgerBlue); */
    background-size: 100% 100%;
    text-align: left;
    animation: gradient 1s ease infinite;
    color: #292c3c;

}



header{
    text-align: center;
    font-family: playfair-display;
    font-size: 4rem;
    font-weight: 900;

}

.summaries{
    margin: 0.25rem;
    font-size: 2rem;
    font-family: Roboto Mono;
    font-weight: normal;


}



p{
  font-size: 2.75rem;
    text-align: center;
}


audio{
  width: 50%;
  font-size: 4rem;
    color: #292c3c;
    background-color: 95ffff;
    border-radius: 3rem;

}
span{
    transform: translatey(0.25rem);
    
}
details{
    justify-content: center;
    text-align: center;
    margin: 0.5rem;
}

details[open] audio{
    animation: animateDown 0.5s linear forwards;

}

@keyframes animateDown {
  0% {
    opacity: 0;
    transform: translatey(-10px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes gradient {
  0%{background-position: 0% 50%;}  
  50%{background-position: 100% 50%;}
  100%{background-position: 0%, 50%;}
}
.credits{
  /* display: inline-block; */
    font-size: 3rem;
    text-align: left;
    margin: 0.125rem;
    padding: 0.25rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    text-shadow: 0.25rem 0.25rem 0.2rem #8caaee;
    border-radius: 0.5rem;
    transition: rotate 2s;

}

@media screen and (orientation: portrait){
  .summaries{
    font-size: 4rem;
  }
}

.unnamed{
  /* display: inline-block; */
    /* float:inline-end; */
    font-size: 3rem;
    text-align: right;
    width: fit-content;
    margin: 0.125rem;
    padding: 0.5rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    text-shadow: 0.25rem 0.25rem 0.2rem #8caaee;
    border-radius: 0.5rem;
    transition: rotate 2s;

}
a{
    color: #292c3c;
    text-decoration: none;
}

.cau {
    display: flex;
    height:5rem;
    justify-content: space-around;
    align-items: center;
    background-color: #ef9f76; /* Semi-transparent darkcyan */
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 00 10px 6px rgba(0, 0, 0, 0.1);
}

.credits:hover{
  rotate: 20deg;

}

.unnamed:hover{
  rotate: -20deg;

}