body{
    background-color: rgb(140, 170, 238);
    text-align: center;
    color:#292c3c;
}


span{
  transform: translateY(0.35rem);
}



h1{
    text-align: center;
    font-family: playfair-display;
    font-size: 3rem;
    font-weight: 900;


}
p{
  font-size: 2rem;
    text-align: center;
}

.summaries{
    margin: 0.25rem;
    font-size: 2rem;
    font-family: Roboto Mono;
    font-weight: normal;


}
details > summary::-webkit-details-marker {
  display: none;
}

audio{
    color: black;
    background-color: 95ffff;
    border-radius: 3rem;

}

details{
    justify-content: center;
    text-align: center;
    margin: 0.5rem;
}

details[open] audio{
    animation: animateDown 0.75s linear forwards;

}

  .Credits {
     font-size: 2.5rem;
    text-align: right;
    margin: 0.125rem;
    padding: 0.25rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    text-shadow: 0.25rem 0.25rem 0.2rem #8caaee;
    border-radius: 0.5rem;
    transition: rotate 2s;
}

.index {
    font-size: 2.5rem;
    text-align: left;
    width: fit-content;
    margin: 0.125rem;
    padding: 0.25rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    text-shadow: 0.25rem 0.25rem 0.2rem #8caaee;
    border-radius: 0.5rem;
    transition:
      rotate 2s;
}

a{
  color:#292c3c;
  text-decoration: none;
}

@media screen and (orientation: portrait){
  .summaries{
    font-size: 4rem;
  }
  .material-symbols-outlined.md-36 {
    font-size: 4rem !important;
    color: #292c3c;
}
}
@media screen and (orientation: landscape){

  .material-symbols-outlined.md-36 {
    font-size: 2rem !important;
    color: #292c3c;
}
}

.cau {
  height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ef9f76; 
    padding: 0.5rem 0.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 00 10px 6px rgba(0, 0, 0, 0.1);
}

.index:hover {
  rotate: 20deg;

}

.Credits:hover {
  rotate: -20deg;

}

.material-symbols-outlined {
    font-size: 4rem; /* Adjust this value to make it larger or smaller */
    vertical-align: middle; /* Align with text if needed */
}


.untitled-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.untitled-section button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.untitled-section h5 {
    margin: 0;
}